Repository eclipse-che/che-operator, pull requests merged in 2023-04, with the labels that each got.

#1654 fix: For update of existing installations we should not change the va…
  pkg/deploy/migration/checluster-defaults-cleaner_test.go
  pkg/deploy/migration/checluster-defaults-cleanupfunc.go
Labels: lgtm

#1661 update DEPENDENCIES.md
  DEPENDENCIES.md
Labels: needs-ok-to-test

#1662 fix: updated HAPPY_PATH_SUITE in oc-test-happy-path.sh
  build/scripts/oc-tests/oc-test-happy-path.sh
Labels: lgtm, ok-to-test

#1666 feat: configure workspace deployment strategy with CheCluster CR
  api/v2/checluster_types.go
  bundle/next/eclipse-che/manifests/che-operator.clusterserviceversion.yaml
  bundle/next/eclipse-che/manifests/org.eclipse.che_checlusters.yaml
  config/crd/bases/org.eclipse.che_checlusters.yaml
  deploy/deployment/kubernetes/combined.yaml
  deploy/deployment/kubernetes/objects/checlusters.org.eclipse.che.CustomResourceDefinition.yaml
  deploy/deployment/openshift/combined.yaml
  deploy/deployment/openshift/objects/checlusters.org.eclipse.che.CustomResourceDefinition.yaml
  helmcharts/next/crds/checlusters.org.eclipse.che.CustomResourceDefinition.yaml
  pkg/common/constants/constants.go
  pkg/deploy/dev-workspace-config/dev_workspace_config.go
  pkg/deploy/dev-workspace-config/dev_workspace_config_test.go
Labels: lgtm, needs-ok-to-test, ok-to-test
