Repository eclipse-che/che-operator, pull requests merged in 2025-02, with the labels that each got.

#1958 feat: add che-code-server editor
  .github/workflows/minikube-test-helm.yaml
  .github/workflows/minikube-test-operator.yaml
  .github/workflows/minikube-test-upgrade-stable-to-next.yaml
  .github/workflows/minikube-test-upgrade-stable-to-stable.yaml
  editors-definitions/che-code-server-latest.yaml
  editors-definitions/che-code-server-next.yaml
Labels: made-with-che

#1961 chore: fix typo in Che Code Server editor definition
  editors-definitions/che-code-server-latest.yaml
  editors-definitions/che-code-server-next.yaml
Labels: lgtm, made-with-che

#1975 CRW-8243 setting fips-compliant to false until CRW-7950 is resolved.
  bundle/next/eclipse-che/manifests/che-operator.clusterserviceversion.yaml
  bundle/stable/eclipse-che/manifests/che-operator.clusterserviceversion.yaml
  config/manifests/bases/che-operator.clusterserviceversion.yaml
Labels: lgtm
